/* ================banner========== */
.banner{
    background-image: url('../../assets/Banner/banner-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 900px;
    margin: 0 auto;
}


/* ============event=========== */
.event-container{
    background-image: url('../../assets/event/eventBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

/* ==========event========= */
.img-slider{
    width: 22rem !important;
    margin-bottom: 40px !important;
}
