/* ================banner========== */
.banner{
    background-image: url('../../assets/Banner/banner-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 900px;
    margin: 0 auto;
}


/* ============event=========== */
.event-container{
    background-image: url('../../assets/event/eventBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0 auto;
}

/* ==========event========= */
.img-slider{
    width: 24rem !important;
    margin-bottom: 40px !important;
}


.gradient {
    background: linear-gradient(121deg, rgba(72, 166, 219, 0.50) -3.09%, rgba(0, 216, 86, 0.50) 99.95%);
    filter: blur(150px); 
  }


/* ==========gallery======= */
.gallery-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: calc((100% - 30px) / 2) !important;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }


  /* ==========committee========== */
  .committee-card{
    background: linear-gradient(180deg, rgba(0, 203, 216, 0.00) 0%, #1E65A7 76.43%);
  }


  @media screen and (max-width:676px) {
    .img-slider{
        width: 20rem !important;
    }

    .banner{
        background-size: 100% 55% ;
        background-position: top center;
    }
}
